body {
  font-family: 'roboto', sans-serif;;
  text-align: center;
  background-color: #5dbcff;
}

.word-number {
  font-size: 1.3rem;
}

.bannedword {
  font-size: 2rem;
  border: 0.2rem solid white;
  padding: 0.6rem;
}

button, input[type='submit'] {
    padding: 0.6rem;
    font-size: 1.5rem;
    font-family: 'roboto', sans-serif;;
    background-color: #5dbcff;
    border: 0.2rem solid white;
    color: white;
}

button:hover {
  background-color: white;
  color: #5dbcff;
  border: 0.2rem solid white;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns {
  display: inline-block;
  margin: 2%;
}

.columns img {
  display: block;
  min-width: 10vw;
  max-width: 15vw;
  padding: 1%;
}

form {
  display:none;
  font-size: 1.5rem;
  border: 0.2rem solid white;
  padding: 1rem;
  width: 50%;
}

input {
  font-size: 1.5rem;
  text-align: center;
  border: none;
  padding:1rem;
  font-family: 'roboto', sans-serif;;
  width: 70%;
}

input:focus, button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #5dbcff;
}

:-ms-input-placeholder {
  color: #5dbcff;
}

::-ms-input-placeholder {
  color: #5dbcff;
}

/*Mobile*/

@media screen and (max-width: 800px) {
.columns img {
max-width: 80vw;
}

form {
  width: 100%;
}

input {
  width: 90%;
  font-size: 1.3rem;
}

}
