body {
  font-family: 'roboto', sans-serif;;
  text-align: center;
  background-color: #5dbcff;
}

.word-number {
  font-size: 1.3rem;
}

.bannedword {
  font-size: 2rem;
  border: 0.2rem solid white;
  padding: 0.6rem;
}

button, input[type='submit'] {
    padding: 0.6rem;
    font-size: 1.5rem;
    font-family: 'roboto', sans-serif;;
    background-color: #5dbcff;
    border: 0.2rem solid white;
    color: white;
}

button:hover {
  background-color: white;
  color: #5dbcff;
  border: 0.2rem solid white;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns {
  display: inline-block;
  margin: 2%;
}

.columns img {
  display: block;
  min-width: 10vw;
  max-width: 15vw;
  padding: 1%;
}

form {
  display:none;
  font-size: 1.5rem;
  border: 0.2rem solid white;
  padding: 1rem;
  width: 50%;
}

input {
  font-size: 1.5rem;
  text-align: center;
  border: none;
  padding:1rem;
  font-family: 'roboto', sans-serif;;
  width: 70%;
}

input:focus, button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #5dbcff;
}

:-ms-input-placeholder {
  color: #5dbcff;
}

::-ms-input-placeholder {
  color: #5dbcff;
}

/*Mobile*/

@media screen and (max-width: 800px) {
.columns img {
max-width: 80vw;
}

form {
  width: 100%;
}

input {
  width: 90%;
  font-size: 1.3rem;
}

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    font-size: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
